.tabs {
    padding: 8px 15px;
    position: relative; /* Needed for pseudo-elements */
}

.tab-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align tabs in a row */
    white-space: nowrap; /* Prevents wrapping of tabs */
}

.tab-links li {
    margin-right: -5px; /* Negative margin for overlap */
    /*overflow: hidden;  Prevents border from spilling out */
}

.tab-links a {
    padding: 8px 35px;
    display: block;
    background:#54B74A;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4); /* Adds depth */
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 15px;
    font-size: 2rem;
}

.tab-links a:hover,
.tab-links a.active {
    background: #006AAC;
    color: white;
    z-index: 12 !important;
}

.tab-content {
    padding: 20px 50px 50px 50px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background:#B6DAEA;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.toolbar {
    width: 100%;
    padding: 20px;
    background-color: #88C0E1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-toggle {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.form-group {
    width: 25%;
    margin: 0 2% 20px 0;
    padding: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="checkbox"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;  /* Space between form elements */
    background-color: #f4f4f4;  /* Light grey background, adjust as needed */
    border: 2px solid #ccc;  /* Slightly darker border for definition */
    border-radius: 5px;  /* Rounded corners */
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);  /* Inner shadow for a 'cutout' effect */
    transition: all 0.3s ease;  /* Smooth transition for hover effects */
    box-sizing: border-box;  /* Includes padding and border in the element's total width and height */
}

input[type="text"]:focus, select:focus {
    outline: none;  /* Removes the default focus outline */
    border-color: #009688;  /* Highlight color when focused */
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.4);  /* Deeper shadow for a more pronounced effect */
}

/* Specific styles for checkboxes, if they need to stand out */
input[type="checkbox"] {
    display: inline-block;  /* Default display is usually inline */
    width: auto;  /* Override the width for text inputs */
    margin-right: 5px;  /* Spacing before the label text */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-section {
    padding-bottom: 20px; /* Adds padding below the content within the section */
    margin-bottom: 20px; /* Adds space between sections */
    border-bottom: 2px solid black; /* Adds a black bottom border to each section */
}

/* Ensure the last section does not have a bottom border if not needed */
.form-section:last-child {
    border-bottom: none;
}

#business-form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers the children (form sections and submit button) horizontally */
}

#business-form button {
    background-color:#55B84B;
    color: white;
    font-size: 1.8rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 3px 5px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}

#autofill-button {
    align-self: flex-start;
}

#business-form button:hover {
    box-shadow: inset -3px -5px 8px rgba(0, 0, 0, 0.3);
    text-shadow: -3px -5px 8px rgba(0, 0, 0, 0.3);
}